{% extends "base.html" %} {% block content %}

<div class="banners-section container mx-auto my-5 px-2 sm:px-8">
  <div class="grid grid-cols-12 gap-5">
    <div
      class="swiper-container col-span-12 overflow-hidden rounded-lg md:col-span-8"
    >
      <div class="swiper swiper-banner group relative flex items-center">
        <div class="swiper-wrapper max-h-[377px]">
          <div class="swiper-slide">
            <img
              src="{{url_for('static', filename='images/banner/uno-banner.jpg')}}"
              alt="banner 1"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{{url_for('static', filename='images/banner/jenga-banner.jpg')}}"
              alt="banner 2"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{{url_for('static', filename='images/banner/ajedrez-banner.jpg')}}"
              alt="banner 3"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="{{url_for('static', filename='images/banner/teg-banner.png')}}"
              alt="banner 3"
            />
          </div>
        </div>
        <div
          class="button-next btn-slider-1 transition-all-300 -right-16 group-hover:right-4"
        >
          &#10095;
        </div>
        <div
          class="button-prev btn-slider-1 transition-all-300 -left-16 group-hover:left-4"
        >
          &#10094;
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div
      class="group relative col-span-4 hidden overflow-hidden rounded-lg md:block"
    >
      <div class="overlay-gradient absolute z-[1] h-full w-full"></div>
      <img
        class="transition-all-300 h-full w-full object-cover hover:transform group-hover:scale-110"
        src="{{url_for('static', filename='images/product/dos-producto.jpg')}}"
      />
      <div class="absolute top-0 left-0 flex h-full w-full items-center">
        <div class="z-[2] p-5">
          <h3
            class="text-lg font-bold uppercase text-primary-color drop-shadow-xl"
            style="color: #eceeef"
          >
            Dos - Preventa exclusiva
          </h3>
          <p class="my-5 text-white drop-shadow-md">
            ¡Compra "Dos" y divertite!
          </p>
          <a
            class="btn-effect inline-block rounded-lg bg-primary-color py-2 px-3 text-white"
            href="{{ url_for('product_details', product_id='7') }}"
            style="color: #fff"
          >
            <span>Comprar ahora</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="information-section container mx-auto my-5 px-2 sm:px-8">
  <div class="grid grid-cols-12 gap-5">
    <div class="col-span-12 flex sm:col-span-6 lg:col-span-3">
      <div
        class="transition-all-300 flex w-full items-center gap-4 rounded-lg bg-white p-5 hover:shadow-lg xs:pl-[20%] sm:pl-5"
      >
        <div
          class="rounded-full border-2 overflow-hidden w-[20%] h-[20%] flex items-center justify-center"
        >
          <img
            src="{{url_for('static', filename='/images/img/envios-logo.png')}}"
            alt="Envíos"
            class="w-full h-full object-cover"
          />
        </div>
        <div>
          <h6 class="font-bold capitalize">Envios</h6>
          <p class="break-all text-sm text-gray-400">A todo el pais</p>
        </div>
      </div>
    </div>
    <div class="col-span-12 flex sm:col-span-6 lg:col-span-3">
      <div
        class="transition-all-300 flex w-full items-center gap-4 rounded-lg bg-white p-5 hover:shadow-lg xs:pl-[20%] sm:pl-5"
      >
        <div
          class="rounded-full border-2 overflow-hidden w-[20%] h-[20%] flex items-center justify-center"
        >
          <img
            src="{{url_for('static', filename='/images/img/reingresostock-logo.png')}}"
            alt="Reingreso Stock"
            class="w-full h-full object-cover"
          />
        </div>
        <div>
          <h6 class="font-bold capitalize">Reingreso de stock</h6>
          <p class="break-all text-sm text-gray-400">Todas las semanas</p>
        </div>
      </div>
    </div>
    <div class="col-span-12 flex sm:col-span-6 lg:col-span-3">
      <div
        class="transition-all-300 flex w-full items-center gap-4 rounded-lg bg-white p-5 hover:shadow-lg xs:pl-[20%] sm:pl-5"
      >
        <div
          class="rounded-full border-2 overflow-hidden w-[20%] h-[20%] flex items-center justify-center"
        >
          <img
            src="{{url_for('static', filename='/images/img/pagos-logo.png')}}"
            alt="Pagos seguros"
            class="w-full h-full object-cover"
          />
        </div>
        <div>
          <h6 class="font-bold capitalize">Pagos seguros</h6>
          <p class="break-all text-sm text-gray-400">Con distintos metodos</p>
        </div>
      </div>
    </div>
    <div class="col-span-12 flex sm:col-span-6 lg:col-span-3">
      <div
        class="transition-all-300 flex w-full items-center gap-4 rounded-lg bg-white p-5 hover:shadow-lg xs:pl-[20%] sm:pl-5"
      >
        <div
          class="rounded-full border-2 overflow-hidden w-[20%] h-[20%] flex items-center justify-center"
        >
          <img
            src="{{url_for('static', filename='/images/img/atencion_cliente-logo.png')}}"
            alt="Soporte"
            class="w-full h-full object-cover"
          />
        </div>

        <div>
          <h6 class="font-bold capitalize">Soporte Online</h6>
          <p class="break-all text-sm text-gray-400">Las 24hs</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offers-section container mx-auto my-5 px-2 sm:px-8">
  <div
    class="liner-container mt-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]"
  >
    <h1
      class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase"
    >
      Productos Destacados
    </h1>
  </div>
  <div class="swiper-container">
    <div class="swiper swiper-cards group relative flex items-center py-5">
      <div class="swiper-wrapper">
        {% for producto in productos %}
        <div class="swiper-slide h-auto">
          <div class="card-container ...">
            <!-- Imagen -->
            <div class="h-[190px] overflow-hidden rounded-lg">
              <a href="#">
                <img
                  class="card-object-fit h-full w-full"
                  src="{{ url_for('obtener_imagen_producto', producto_id=producto.id) }}"
                />
              </a>
            </div>
            <!-- Stock -->
            <div class="my-2 flex justify-between">
              <div>
                <span
                  class="rounded-md bg-stock py-1 px-2 text-xs font-bold uppercase text-white"
                >
                  Stock disponible
                </span>
              </div>
            </div>
            <!-- Nombre -->
            <div class="my-1">
              <a class="clamp break-all font-medium" href="#"
                >{{ producto.nombre }}</a
              >
            </div>
            <!-- Descripción -->
            <div class="my-1">
              <p class="clamp-2 text-sm text-gray-400">
                {{ producto.descripcion }}
              </p>
            </div>
            <!-- Precio -->
            <div class="my-1">
              <span class="text-lg font-bold">${{ producto.precio }}</span>
            </div>
            <!-- Botón detalles -->
            <div class="mt-auto">
              <a
                class="btn-effect transition-all-300 flex w-full items-center justify-center rounded-lg bg-primary-color p-2"
                href="{{ url_for('product_details', product_id=producto.id) }}"
              >
                <span class="font-bold uppercase text-white">Ver detalles</span>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div
        class="button-next btn-slider-1 transition-all-300 -right-16 group-hover:right-4"
      >
        &#10095;
      </div>
      <div
        class="button-prev btn-slider-1 transition-all-300 -left-16 group-hover:left-4"
      >
        &#10094;
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<!-- Sección de banners -->
<div class="banners-section-2 container mx-auto my-5 px-2 sm:px-8">
  <div class="grid grid-cols-12 gap-5">
    <div
      class="group relative col-span-12 h-[300px] overflow-hidden rounded-lg sm:col-span-6"
    >
      <div class="overlay-gradient absolute z-[1] h-full w-full"></div>
      <img
        class="transition-all-300 h-full w-full object-cover hover:transform group-hover:scale-110"
        src="{{url_for('static', filename='/images/banner/monopoly-banner.jpeg')}}"
      />
      <div class="absolute top-0 left-0 flex h-full w-full items-center">
        <div class="z-[2] p-5">
          <h3
            class="text-lg font-bold uppercase text-primary-color drop-shadow-xl"
          >
            Monopoly
          </h3>
          <p class="my-5 text-white drop-shadow-md">
            Ideal para jugar en familia o con amigos
          </p>
          <a
            class="btn-effect inline-block rounded-lg bg-primary-color py-2 px-3 text-white"
            href="{{ url_for('product_details', product_id=10) }}"
          >
            <span>Ver mas</span>
          </a>
        </div>
      </div>
    </div>
    <div
      class="group relative col-span-12 h-[300px] overflow-hidden rounded-lg sm:col-span-6"
    >
      <div class="overlay-gradient absolute z-[1] h-full w-full"></div>
      <img
        class="transition-all-300 h-full w-full object-cover hover:transform group-hover:scale-110"
        src="{{url_for('static', filename='/images/banner/rompecabezas-banner.jpg')}}"
      />
      <div class="absolute top-0 left-0 flex h-full w-full items-center">
        <div class="z-[2] p-5">
          <h3
            class="text-lg font-bold uppercase text-primary-color drop-shadow-xl"
          >
            Rompecabezas
          </h3>
          <p class="my-5 text-white drop-shadow-md">
            Para los mas chicos del hogar
          </p>
          <a
            class="btn-effect inline-block rounded-lg bg-primary-color py-2 px-3 text-white"
            href="{{ url_for('product_details', product_id=11) }}"
          >
            <span>Ver mas</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sliders por categoria-->
<div class="products-1-section container mx-auto my-5 px-2 sm:px-8">
  <div
    class="liner-container mt-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]"
  >
    <h1
      class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase"
    >
      Juegos de Cartas
    </h1>
  </div>
  <div class="grid grid-cols-12 gap-5">
    <div
      class="group relative col-span-3 my-5 hidden overflow-hidden rounded-l-lg xl:block"
    >
      <div class="overlay-gradient absolute z-[1] h-full w-full"></div>
      <img
        class="transition-all-300 h-full w-full object-cover hover:transform group-hover:scale-110"
        src="{{url_for('static', filename='images/banner/juegos-de-cartas.jpg')}}"
      />
      <div class="absolute top-0 left-0 flex h-full w-full items-center">
        <div class="z-[2] p-5">
          <h3
            class="text-lg font-bold uppercase text-primary-color drop-shadow-xl"
            style="color: #d7d7d7"
          >
           Juegos de Cartas
          </h3>
          <p class="my-5 text-white drop-shadow-md">Destacados</p>
          <a
            class="btn-effect inline-block rounded-lg bg-primary-color py-2 px-3 text-white"
            href="{{url_for('shop_mixed', categoria='Juego de Cartas')}}"
          >
            <span>Ver todos</span>
          </a>
        </div>
      </div>
    </div>
    <div class="cards-slider-2 swiper-container col-span-12 xl:col-span-9">
      <div class="swiper swiper-cards-2 group relative flex items-center py-5">
        <div class="swiper-wrapper">

     {% for producto in productos if producto.categoria == 'Juego de Cartas'%}
          <div class="swiper-slide h-auto">
            <div
              class="card-container transition-all-300 translateY-2 relative flex h-full flex-col overflow-hidden rounded-lg bg-white p-5 shadow-md hover:z-[2] hover:shadow-xl"
            >
              <div class="absolute top-[10px] right-[10px]">
                <div class="p-[2px]"></div>
                
              </div>
              <div class="h-[190px] overflow-hidden rounded-lg">
                <a
                  href="{{ url_for('product_details', product_id=producto.id) }}"
                >
                  <img
                    class="card-object-fit h-full w-full"
                    src="{{ url_for('obtener_imagen_producto', producto_id=producto.id) }}"
                    alt="{{ producto.nombre }}"
                  />
                </a>
              </div>
              <div class="my-2 flex justify-between">
                <div>
                  <span
                    class="rounded-md bg-stock py-1 px-2 text-xs font-bold uppercase text-white"
                  >
                    Stock disponible
                  </span>
                </div>
              </div>
              <div class="my-1">
                <a class="clamp break-all font-medium" href="#"
                  >{{ producto.nombre }}</a
                >
              </div>
              <div class="my-1">
                <p class="clamp-2 text-sm text-gray-400">
                  {{ producto.descripcion }}
                </p>
              </div>
              <div class="my-1">
                <span class="text-lg font-bold">${{ producto.precio }}</span>
              </div>
              <div class="mt-auto">
                <a
                  class="btn-effect transition-all-300 flex w-full items-center justify-center rounded-lg bg-primary-color p-2"
                  href="{{ url_for('product_details', product_id=producto.id) }}"
                >
                  <span class="font-bold uppercase text-white"
                    >Ver detalles</span
                  >
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div
          class="button-next btn-slider-1 transition-all-300 -right-16 group-hover:right-4"
        >
          &#10095;
        </div>
        <div
          class="button-prev btn-slider-1 transition-all-300 -left-16 group-hover:left-4"
        >
          &#10094;
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>

<div class="products-2-section container mx-auto my-5 px-2 sm:px-8">
  <div
    class="liner-container mt-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]"
  >
    <h1
      class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase"
    >
      Juegos de mesa
    </h1>
  </div>
  <div class="grid grid-cols-12 gap-5">
    <div
      class="group relative col-span-3 my-5 hidden overflow-hidden rounded-l-lg xl:block"
    >
      <div class="overlay-gradient absolute z-[1] h-full w-full"></div>
      <img
        class="transition-all-300 h-full w-full object-cover hover:transform group-hover:scale-110"
        src="{{url_for('static', filename='/images/banner/juegos-de-mesa.jpg')}}"
      />
      <div class="absolute top-0 left-0 flex h-full w-full items-center">
        <div class="z-[2] p-5">
          <h3
            class="text-lg font-bold uppercase text-primary-color drop-shadow-xl"
            style="color: #d7d7d7"
          >
            Juegos de mesa
          </h3>
          <p class="my-5 text-white drop-shadow-md">Destacados</p>
          <a
            class="btn-effect inline-block rounded-lg bg-primary-color py-2 px-3 text-white"
            href="{{ url_for('shop_mixed', categoria='Juego de mesa') }}"
          >
            <span>Ver todos</span>
          </a>
        </div>
      </div>
    </div>
    <div class="cards-slider-2 swiper-container col-span-12 xl:col-span-9">
      <div class="swiper swiper-cards-2 group relative flex items-center py-5">
        <div class="swiper-wrapper">
          {% for producto in productos if producto.categoria == 'Juego de mesa'%}
          <div class="swiper-slide h-auto">
            <div
              class="card-container transition-all-300 translateY-2 relative flex h-full flex-col overflow-hidden rounded-lg bg-white p-5 shadow-md hover:z-[2] hover:shadow-xl"
            >
              <div class="absolute top-[10px] right-[10px]">
                <div class="p-[2px]"></div>
                
              </div>
              <div class="h-[190px] overflow-hidden rounded-lg">
                <a
                  href="{{ url_for('product_details', product_id=producto.id) }}"
                >
                  <img
                    class="card-object-fit h-full w-full"
                    src="{{ url_for('obtener_imagen_producto', producto_id=producto.id) }}"
                    alt="{{ producto.nombre }}"
                  />
                </a>
              </div>
              <div class="my-2 flex justify-between">
                <div>
                  <span
                    class="rounded-md bg-stock py-1 px-2 text-xs font-bold uppercase text-white"
                  >
                    Stock disponible
                  </span>
                </div>
              </div>
              <div class="my-1">
                <a class="clamp break-all font-medium" href="#"
                  >{{ producto.nombre }}</a
                >
              </div>
              <div class="my-1">
                <p class="clamp-2 text-sm text-gray-400">
                  {{ producto.descripcion }}
                </p>
              </div>
              <div class="my-1">
                <span class="text-lg font-bold">${{ producto.precio }}</span>
              </div>
              <div class="mt-auto">
                <a
                  class="btn-effect transition-all-300 flex w-full items-center justify-center rounded-lg bg-primary-color p-2"
                  href="{{ url_for('product_details', product_id=producto.id) }}"
                >
                  <span class="font-bold uppercase text-white"
                    >Ver detalles</span
                  >
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>


        <div
          class="button-next btn-slider-1 transition-all-300 -right-16 group-hover:right-4"
        >
          &#10095;
        </div>
        <div
          class="button-prev btn-slider-1 transition-all-300 -left-16 group-hover:left-4"
        >
          &#10094;
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products-2-section container mx-auto my-5 px-2 sm:px-8">
  <div
    class="liner-container mt-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]"
  >
    <h1
      class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase"
    >
      Juegos de Rol
    </h1>
  </div>
  <div class="grid grid-cols-12 gap-5">
    <div
      class="group relative col-span-3 my-5 hidden overflow-hidden rounded-l-lg xl:block"
    >
      <div class="overlay-gradient absolute z-[1] h-full w-full"></div>
      <img
        class="transition-all-300 h-full w-full object-cover hover:transform group-hover:scale-110"
        src="{{url_for('static', filename='/images/banner/juegos-de-rol.webp')}}"
      />
      <div class="absolute top-0 left-0 flex h-full w-full items-center">
        <div class="z-[2] p-5">
          <h3
            class="text-lg font-bold uppercase text-primary-color drop-shadow-xl"
            style="color: #d7d7d7"
          >
            Juegos de Rol
          </h3>
          <p class="my-5 text-white drop-shadow-md">Destacados</p>
          <a
            class="btn-effect inline-block rounded-lg bg-primary-color py-2 px-3 text-white"
            href="{{ url_for('shop_mixed', categoria='Juego de rol') }}"
          >
            <span>Ver todos</span>
          </a>
        </div>
      </div>
    </div>
    <div class="cards-slider-2 swiper-container col-span-12 xl:col-span-9">
      <div class="swiper swiper-cards-2 group relative flex items-center py-5">
        <div class="swiper-wrapper">
          {% for producto in productos if producto.categoria == 'Juego de rol'%}
          <div class="swiper-slide h-auto">
            <div
              class="card-container transition-all-300 translateY-2 relative flex h-full flex-col overflow-hidden rounded-lg bg-white p-5 shadow-md hover:z-[2] hover:shadow-xl"
            >
              <div class="absolute top-[10px] right-[10px]">
                <div class="p-[2px]"></div>
                
              </div>
              <div class="h-[190px] overflow-hidden rounded-lg">
                <a
                  href="{{ url_for('product_details', product_id=producto.id) }}"
                >
                  <img
                    class="card-object-fit h-full w-full"
                    src="{{ url_for('obtener_imagen_producto', producto_id=producto.id) }}"
                    alt="{{ producto.nombre }}"
                  />
                </a>
              </div>
              <div class="my-2 flex justify-between">
                <div>
                  <span
                    class="rounded-md bg-stock py-1 px-2 text-xs font-bold uppercase text-white"
                  >
                    Stock disponible
                  </span>
                </div>
              </div>
              <div class="my-1">
                <a class="clamp break-all font-medium" href="#"
                  >{{ producto.nombre }}</a
                >
              </div>
              <div class="my-1">
                <p class="clamp-2 text-sm text-gray-400">
                  {{ producto.descripcion }}
                </p>
              </div>
              <div class="my-1">
                <span class="text-lg font-bold">${{ producto.precio }}</span>
              </div>
              <div class="mt-auto">
                <a
                  class="btn-effect transition-all-300 flex w-full items-center justify-center rounded-lg bg-primary-color p-2"
                  href="{{ url_for('product_details', product_id=producto.id) }}"
                >
                  <span class="font-bold uppercase text-white"
                    >Ver detalles</span
                  >
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        
        <div
          class="button-next btn-slider-1 transition-all-300 -right-16 group-hover:right-4"
        >
          &#10095;
        </div>
        <div
          class="button-prev btn-slider-1 transition-all-300 -left-16 group-hover:left-4"
        >
          &#10094;
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
